__pycache__/TreeCreation.cpython-37.pyc
__pycache__/TreeCreation.cpython-38.pyc
__pycache__/Word2Vec.cpython-37.pyc
__pycache__/Word2Vec.cpython-38.pyc
ClubData/Backups/.DS_Store
ClubData/.DS_Store
ClubData/.DS_Store
ClubData/.DS_Store
.DS_Store
__pycache__/PrepareData.cpython-37.pyc
__pycache__/PrepareData.cpython-38.pyc
__pycache__/tfidf.cpython-38.pyc
ClubData/.DS_Store
.DS_Store
ClubData/.DS_Store
NiteV2/venv

/NiteV2/venv/
